*{
    margin: 0 ;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width : 1050px ;
    margin : 0 auto ;
}
.navbar{
    background-color: darkgray;
    border: solid black;
}
.navleft img{
    width: 35px;
    height: 35px;
}
.navbar{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 15px
    
    
}
.navleft , .navright {
    gap: 15px;
    display: flex;
    

}
.navleft input{
border: solid black;
width: 300px;
}
.navleft button {
    background-color: orange;
    border: solid black;
    box-shadow: 3px 3px;
    padding: 5px 10px;
    margin-left: -15px;
}
.navright button {
    background-color:orange;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 15px;
}
.navright button:first-child{
    background-color: blue;
    color: white ;
}
.subnav{
    display: flex;
    gap:15px ;
    padding: 30px;
    align-items: center;
}
.subnav img{
    width: 50px;
    border: solid black;
    border-radius: 50%;
}
.subnav button{
    color:white;
    border-radius: 5px;
    border: none;
    background-color: brown;
    padding:10px 25px 
    
    
    
}
.menu ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 15px;
    padding: 20px;
}
.menu ul li:first-child{
    color: brown;
    text-decoration: underline;
}
.main{
    display: flex;
    background-color: lightgray;
    padding: 10px;
    gap: 20px;
}
.vote img , .comments img {
    width: 20px;
}
.post{
    background-color: white ;
    border: 2px solid darkgray;
    display: flex;
    gap: 10px;
    padding : 20px
}
img{
    width: 100%;
}
.comments{
    display: flex;
    gap: 10px;
    align-items: center;
}
.card{
    background-color: white;
    border: 2px solid darkgray;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card h3{
    background-color: brown;
    color:white;
    padding: 10px;
}
.mainleft{
    display: flex;
    flex: 3;
flex-direction: column;
gap: 20px;
    
}
.mainright{
    display: flex;
    flex :2;
    flex-direction: column;
    gap: 20px;
   
}
.card p{
    padding: 10px;
}
.card button{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

}
.card ol{
    padding: 10px 10px 10px 35px

}