<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<style>
    *{
        margin: 0 auto;
    }
    .container{
        width: 800px;
        text-align: center;
    }
    form{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
</style>
<body>
    <div class="container">
        <h1>Add a new user</h1>
        <form action="/create/users" method="POST">
            <label for="first_name">First name</label>
            <input type="text" name="first_name">
            <label for="last_name">Last name</label>
            <input type="text" name="last_name">
            <label for="email">Email</label>
            <input type="text" name="email">
            <button type="submit">Create</button>
            <a href="/users">Home</a>
        </form>
    </div>
</body>
</html>