<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos Show </title>
</head>
<body>
    <div class="container">
        <h1>{{dojo.name}} Ninja </h1>
        <table>
            <thead>
                <tr>
                    <th>First_name</th>
                    <th>Last_name</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
            {% for ninja in all_ninjas %}
                <tr>
                    <td>{{ninja.first_name}}</td>
                    <td>{{ninja.last_name}}</td>
                    <td>{{ninja.age}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="/dojos">Home</a>
    </div>
</body>
</html>