<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Read all</title>
</head>
<style>
    *{margin: 0 auto;}
        .container{
            width: 900px;

        }
    #sixth{
        display: flex;
        justify-content: space-between;
    }
    button{
        border-radius: 10px;
    }
    
</style>
<body>
    <div class="container">
        <h1>ALL USERS </h1>
        <table  class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Created at</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in all_users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.created_at}}</td>
                    <td id="sixth">
                        <button><a href="">Show</a></button>
                        <button><a href="">Edit</a></button>
                        <button><a href="">Delete</a></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/users/new">Add a new user</a>
    </div>
</body>
</html>